@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

h1 {
    color: rgb(255,255,255);
}

h2 {
    color: rgb(225,225,225);
}

p {
    color: rgb(200,200,200)
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}